.highlight[completed]{style: 'margin-bottom: 5px;'}
  .tools
    - if can?(:manage, completed)
      = link_to_task_delete(completed, bucket)

  - if completed.recently?
    %div
      = check_box_tag dom_id(completed, :uncomplete), 1, true, onclick: uncomplete_checkbox(completed, bucket)

  %div
    - if completed.priority
      .priority-strip{class: "#{completed.priority}"}
        = t completed.priority
    %strike= auto_link h(completed.name)
    - if completed.asset_id?
      == #{t :related} #{link_to(h(completed.asset.name), polymorphic_url(completed.asset))}
    &ndash;
    %tt
      %span.cool
        = t(:task_completed_by, time_ago: distance_of_time_in_words(completed.completed_at, Time.now), date: l(completed.completed_at, format: :long), user: ((completed.completor.id != current_user.id) ? link_to(h(completed.completor.full_name), user_path(completed.completor)) : t(:me))).html_safe
    - unless completed.background_info.blank?
      %div
        %dt= completed.background_info
