= hook(:shop_top_section, self, :f => f) do
  .section
    %table
      %tr
        %td
          .label.top.req #{t :name}:
          = f.text_field :name, :autofocus => true, :style => "width:200px"
        %td= spacer
        %td
          .label #{t :assigned_to}:
          = user_select(:shop, User.without(current_user), current_user)
        %td= spacer
        %td
          .label.top #{t :country}:
          = f.select :country, Setting.unroll(:countries), {:include_blank => 'None'}, { :style => "width:60px" }
      %tr
        %td
          .label.top.req #{t :stage}:
          = f.select :stage, Setting.unroll(:shop_stage), {:include_blank => 'None'}, { :style => "width:150px" }
        %td= spacer
        %td
          .label.top #{t :closed_date}:
          = f.text_field :closed_date, style: "width:100px;", autocomplete: :off, class: 'date'
        %td= spacer
        %td
          .label{ style: "margin:5px 0 0 0;"} #{t :shop_seats}:
          = f.number_field :num_seats, in: 1...1000, :style => "width:100px"

      = hook(:shop_top_section_bottom, self, :f => f)
