- if (template = template_for_current_view)
  = render(template, shop: @shop)
- else

  = styles_for :opportunity, :contact, :task

  = render 'shops/title_bar', shop: @shop

  %div#edit_shop{ hidden }

  = render "comments/new", :commentable => @shop
  = render partial: "shared/timeline", collection: @timeline

  = hook(:show_shop_bottom, self, {entity: @shop}) do

    = render "contacts/contacts", object: @shop

    = render "opportunities/opportunities", object: @shop

    = render partial: "tasks/tasks", locals: { object: @shop }

    = render "versions/versions", object: @shop

    = load_select_popups_for(@shop, :contacts, :opportunities, :tasks)
