- edit ||= false
- collapsed = session[:task_assign].nil?
= subtitle :task_assign, collapsed, t(:task_assign)

.section
  #assigns{ hidden_if(collapsed) }
    %table{ style: "table-layout: fixed;" }
      %tr
        %td{ style: "padding: 0 0 0 16px;" }
          .label.top.req #{t :entity_type}:
        %td{ style: "width: 300px;" }
          .label.top{style: "padding:0px;"} #{t :entity}:
    #assign_partial
      .assign_rows
        - if @task.asset_id
          = render partial: 'assign_fields', task: @task, locals: { disabled: false }
      #assign_row_form{style: "display: none;"}
        = render partial: 'assign_fields', task: @task, locals: { disabled: true }
      .links
        .ui-icon.ui-icon-plus{style: "cursor: pointer;"}
