crm.flick('empty', 'toggle');
- if from_dashboard?
  crm.flip_dashboard_form('create_task', '#{params[:related]}');
- else
  crm.flip_form('create_task');

- unless params[:cancel].true?
  - if from_dashboard?
    $('##{params[:related]}').next('.log').find('#create_task').html('#{ j render(partial: "new") }');
  -else
    $('#create_task').html('#{ j render(partial: "new") }');
    crm.set_title('create_task', '#{j t(:create_task) }');
- else
  crm.set_title('create_task', '#{ @view == "assigned" ? t(:assigned_tasks) : t(:tasks) }');
