#charts
  %table
    %tr
      %td
        .label.top.center #{ t(:num_leads)}
        #leads
      %td
        .label.top.center #{ t(:num_opportunities)}
        #opportunities
    %tr
      %td
        .label.top.center #{ t(:num_closed_opportunities)}
        #closed_opportunities
      %td
        .label.top.center #{ t(:num_projected_opportunities)}
        #projected_opportunities
    %tr
      %td
        .label.top.center #{ t(:num_live_shops)}
        #live_shops
      %td
        .label.top.center #{ t(:expected_revenue)}
        #expected_revenue
    %tr
      %td
        .label.top.center #{ t(:closed_revenue)}
        #closed_revenue
      %td
        .label.top.center #{ t(:sales_summary)}
        #sales_summary
