= hook(:org_top_section, self, :f => f) do
  .section
    %table
      %tr
        %td(colspan="5")
          .label.top.req #{t :name}:
          = f.text_field :name, :autofocus => true, :style => "width:300px"
      %tr
        %td
          .label #{t :assigned_to}:
          = user_select(asset: :org, users: User.without_user(current_user))
        %td= spacer
        %td
          .label.req #{t :category}:
          = f.select :category, Setting.unroll(:org_category), include_blank: true
        %td= spacer
        %td
          .label #{t :business_scope}:
          = f.select :business_scope, Setting.unroll(:business_scope)

      = render :partial => "/shared/tags", :locals => {:f => f, :span => 3}

      = hook(:org_top_section_bottom, self, :f => f)
