.filters#filters
  #overlay{ style: "width: 100%; height: 100%; position: absolute; z-index:10; display:none;" }
  .caption= t :groups
  - @users_with_opportunities.each do |group, users|
    .check_box{style: "border-bottom: 1px silver dotted;"}
      = opportunity_group_checkbox(group)
      = label_tag(@groups.find_by(id: group).name)
      = link_to("<small>&#9668;</small>".html_safe, '#', class: "flip_users")
      .users_filter{ style: "display: none;" }
        - users.each do |user|
          .check_box{style: "border-bottom: 1px silver dotted;"}
            = opportunity_group_users_checkbox(user.id)
            = label_tag("#{user.first_name} #{user.last_name}")
