- edit ||= false
- collapsed = session[:lead_account].nil? # && @lead.errors.empty?
= subtitle :lead_account, collapsed, t(:account)

.section
  %small#lead_status_intro{ hidden_if(collapsed) }
    = t(:intro, t(:account_small)) unless edit
  #lead_status{ hidden_if(collapsed) }
    = f.fields_for :account, Account.new do |a|
      %table
        %tr
          %td
            != lead_account_select_or_create(a) do |options|
              - options[:selected] = @account&.id || 0
      #lead
        %table
          %tr
            %td
              .label #{t :country}:
              = a.select :country, Setting.unroll(:countries), { selected: @lead.account&.country, include_blank: 'None Specified' }, { :style => "width:60px" }
            %td
              .label #{t :category}:
              = a.select :category, Setting.unroll(:account_category), { selected: @lead.account&.category, include_blank: 'None Specified' }, { :style => "width:160px" }
            %td= spacer
            %td
              .label #{t :online_review}:
              = a.text_field :online_review, { value: @lead.account&.online_review, style: "width:60px" }
