.remote
  = simple_form_for([:admin, @system], html: one_submit_only, remote: true) do |f|
    = link_to_close edit_admin_system_path(@system)

    = f.error_messages object_name: t('system')

    = render "admin/systems/form", f: f, edit: true

    .buttonbar
      = f.submit t(:save_system)
      #{t :or}
      = link_to_cancel edit_admin_system_path(@system)
