- edit ||= false
- collapsed = session[:contact_shop].nil?
= subtitle :contact_shop, collapsed, t(:shops)

.section
  %small#contact_shop_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:account_shops_small)) unless edit
  #shops{ hidden_if(collapsed) }
    .shops_selection
      %table
        %tr
          %td= spacer(15)
          %td{style: 'width: 200px;'}
            .label.top.req #{t :name}:
          %td= spacer
          %td
            .label.top{style: 'width: 100px;'} #{t :shop_seats}:
      #shops_partial
        .shop_rows
          = render partial: 'shop_fields', collection: @contact.shops, as: :s, locals: { options: @options, disabled: false }
        #shop_row_form{style: "display: none;"}
          = render partial: 'shop_fields', locals: { options: @options, s: Shop.new, disabled: true }
        .links{ hidden_if(@contact.shops.empty?)}
          .ui-icon.ui-icon-plus{style: "cursor: pointer;"}
