- edit ||= false
- collapsed = session[:account_shop].nil?
= subtitle :account_shop, collapsed, t(:shops)

.section
  %small#account_shop_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:account_shops_small)) unless edit
  #shops{ hidden_if(collapsed) }
    .shops_selection
      %table{ style: "table-layout: fixed;" }
        %tr
          %td{ style: "width: 100px; padding: 0 60px 0 16px;" }
            .label.top.req{style: ""} #{t :name}:
          %td{ style: "width: 70px;" }
            .label.top{style: "padding:0px;"} #{t :shop_seats}:
          %td{ style: "width: 70px;" }
            .label.top{style: "padding:0px;"} #{t :country}:
          %td{ style: "width: 115px;" }
            .label.top{style: "padding:0px;"} #{t :closed_date}:
          %td
            .label.top{style: "padding:0px;"} #{t :stage}:
      #shops_partial
        .shop_rows
          = render partial: 'shop_fields', collection: @opportunity.shops, as: :s, locals: { options: @options, disabled: false }
        #shop_row_form{style: "display: none;"}
          = render partial: 'shop_fields', locals: { options: @options, s: Shop.new, disabled: true }
        .links{ hidden_if(@opportunity.shops.empty?)}
          .ui-icon.ui-icon-plus{style: "cursor: pointer;"}
