= hook(:account_top_section, self, f: f) do
  .section
    %table
      %tr
        %td(colspan="5")
          .label.top.req #{t :name}:
          = f.text_field :name, autofocus: true, style: "width:500px"
      %tr
        %td
          .label #{t :assigned_to}:
          = user_select(asset: :account, users: User.without_user(current_user))
        %td= spacer
        %td
          .label #{t :category}:
          = f.select :category, Setting.unroll(:account_category), { selected: @account.category&.to_sym, include_blank: t(:none_specified) }, { style: "width:160px", class: 'select2' }
        %td= spacer
        %td
          .label #{t :rating}:
          = rating_select "account[rating]", { id: :account_rating, selected: @account.rating, style: "width:160px" }
      %tr
        %td
          .label #{t :select_org}:
          = f.fields_for :org, @org do |o|
            = o.select :id, @orgs.map{|a| [a.name, a.id]}, :selected => @account.org&.id, :include_blank => t(:select_org)
        %td= spacer
        %td
          .label{ style: "display:inline-block" } #{t :country}:
          .label{ style: "display:inline-block" } #{t :online_review}:
          = f.select :country, Setting.unroll(:countries), {:include_blank => 'None'}, { :style => "display:inline-block; width:60px;" }
          = f.text_field :online_review, { style: "display:inline-block; width:60px;" }

      - if Setting.background_info && Setting.background_info.include?(:account)
        %tr
          %td(colspan="5")
            .label= t(:background_info) + ':'
            = f.text_area :background_info, style: "width:500px", rows: 3

      = render partial: "/shared/tags", locals: {f: f, span: 3}

      = hook(:account_top_section_bottom, self, f: f)
